REGISTRY='{{ REGISTRY }}'
IMAGE='{{ IMAGE }}'
TAG='{{ TAG }}'
PORT='{{ PORT }}'
CONFIG_FILE='{{ CONFIG_FILE }}'
PG_TAG='{{ PG_TAG }}'
PG_PORT='{{ PG_PORT }}'
PG_BASE='{{ PG_BASE }}'
PG_USER='{{ PG_USER }}'
PG_PASS='{{ PG_PASS }}'
